

<div class="container">
  <div class="row" style="padding-top : 50px;">
    <div class="col-md-8 col-lg-6 col-sm-12 offset-md-2 offset-lg-3 offset-sm-0">
      <div class="jumbotron text-center">
          <h1>Flick Takies</h1>
      </div> <!-- jumbotron text-center -->

      <form #login="ngForm"
            class="form"
            id="form"
            (ngSubmit)="loginSubmit(login)">
        <div class="form-group">
          <label for="username">Username</label>
                 <!-- [class.text-danger]="username.invalid && username.touched" -->
          <small class="text-danger"
                 [class.d-none]="username.valid || username.untouched">
            &nbsp;&nbsp; must be atleast 8 lowcase characters.</small>
          <input #username="ngModel"
                 type="text"
                 name="username"
                 value=""
                 pattern="^[a-z]{7}[a-z]+$"
                 class="form-control"
                 [(ngModel)]="user.username"
                 [class.is-invalid]="username.invalid && username.dirty"
                 [class.is-valid]="username.valid && username.dirty"
                 required>
        </div> <!-- Username form-group -->

        <div class="form-group">
         <label for="password">Password</label>
         <small class="text-danger"
                [class.d-none]="password.valid || password.untouched">
           &nbsp;&nbsp; must contain atleast 8 characters with atleast 1 Caps, 1 Small with digits</small>
         <input #password="ngModel"
                type="password"
                name="password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                value=""
                class="form-control"
                [(ngModel)]="user.password"
                [class.is-invalid]="password.invalid && password.dirty"
                [class.is-valid]="password.valid && password.dirty"
                required>
        <a href="#"><small class="text-muted">Forgot Password?</small></a>
        </div> <!-- Password form-group -->

        <div class="form-group">
          <input class="btn btn-primary"
                 [disabled]="login.invalid"
                 type="submit"
                 name="button"
                 value="Login">
        </div>

        <div class="text-danger" [class.d-none]="unknownUser">
          User or password is incorrect
        </div>

      </form> <!-- form -->

      <div class="row">
        <div class="col"><hr></div>
        <div class="col-auto">OR</div>
        <div class="col"><hr></div>
      </div>

      <div class="jumbotron text-center">
        <p>If you're a new User,
          <a href="#"
             routerLink="/Register"
             routerLinkActive="active">Click here</a> to Register</p>
      </div>
    </div> <!-- col-md-6 col-lg-6 col-sm-6 offset-3 -->
  </div> <!-- Row -->
</div> <!-- Container -->
