

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 offset-3">
      <div class="form" id="form">

        <div class="">
          <span>If you're a new User,
            <a href="#"
               routerLink="/Register"
               routerLinkActive="active">Click here</a> to Register</span>
        </div>

        <div class="form-group" style="padding-top : 30px;">
          <label for="username">Username</label>
          <input type="text"
                 name="username"
                 value=""
                 class="form-control">
        </div> <!-- Username form-group -->
        
        <div class="form-group">
         <label for="password">Password</label>
         <input type="text"
                name="password"
                value=""
                class="form-control">
        <a href="#"><small class="text-muted">Need Help?</small></a>
        </div> <!-- Password form-group -->

        <div class="form-group">
          <button class="btn btn-primary" type="button" name="button">Login</button>
        </div>

      </div> <!-- form -->
    </div> <!-- col-md-6 col-lg-6 col-sm-6 offset-3 -->
  </div> <!-- Row -->
</div> <!-- Container -->
